* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 20vw;
    grid-template-rows: 10vh 90vh;
}

#banner {
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 3;
}

#sidebar {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

#listContainer {
    border: 1px solid black;
    display: flex;
    padding: 10px;
}

.list {
    width: 20vw;
}

#addListDialog, #addTaskDialog {
    padding: 20px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    box-shadow: inset 0px 0px 10px black;
    margin: auto;
}

#addListDialog::backdrop, #addTaskDialog::backdrop {
    backdrop-filter: blur(2px);
}

input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    width: 100%;
}

.list {
    color: red;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.task {
    color: black;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 5px;
}
