* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 20vw;
    grid-template-rows: 10vh 90vh;
}

#banner {
    border: 1px solid purple;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Montserrat', sans-serif;
}

.bannerName {
    font-size: 8vh;
    margin-bottom: -10px;
    color: #323377;
}

.tagline {
    font-size: 3vh;
    color: #414584;
}

#sidebar {
    border: 1px solid purple;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

#listContainer {
    border: 1px solid purple;
    display: flex;
    padding: 10px;
    background-image: url("./images/coolbackgrounds-topography-micron.svg");
    gap: 10px;
}

#addListDialog, #addTaskDialog {
    padding: 20px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    box-shadow: inset 0px 0px 10px black;
    margin: auto;
}

#addListDialog::backdrop, #addTaskDialog::backdrop {
    backdrop-filter: blur(1px);
}

input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #323377;
    width: 100%;
}

.listEntity{
    padding: 5px;
    border: 1px solid #323377;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    width: 30vw;
    gap: 5px;
    height: min-content;
}

.listName {
    color: #323377;
    font-size: 20px;
}

.listMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taskEntity {
    display: flex;
    color: black;
    font-size: 15px;
    border: 1px solid #323377;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    overflow-wrap: break-word;
}

.taskEntity:hover {
    box-shadow: 1px 1px 10px #888888;
}

.taskControls{
    display: flex;
}

.taskMain {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-wrap: wrap;
    word-break: break-all;
    gap: 5px;
}


button[id^="check-"]{
    border: none;
    background-color: transparent;
    border-radius: 50%;
}

button[id^="check-"]:hover{
    box-shadow: 1px 1px 10px #888888;
}
